<div class="row mt-lg-3">
  <div class="card col-md-4 bg-light justify-content-center mx-auto">
    <div class="card-body">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputEmail">Mail-Adresse</label>
          <input formControlName="username"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                 type="email"
                 id="inputEmail"
                 placeholder="Mail-Adresse"
                 name="email"
                 class="form-control"
                 required
                 autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input formControlName="password"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                 type="password"
                 id="inputPassword"
                 placeholder="Passwort"
                 class="form-control"
                 name="password"
                 required></div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-outline-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
          <a routerLink="/register" class="btn btn-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
