<heritage-person-list
  *ngIf="family.parents"
  [persons]="family.parents"
  [title]="'Eltern'"
  (buttonPressed)="router.navigate(['person', $event._key])"
>
</heritage-person-list>
<heritage-person-list
  *ngIf="family.partners"
  [persons]="family.partners"
  [title]="'Partner'"
  (buttonPressed)="router.navigate(['person', $event._key])"
>
</heritage-person-list>
<heritage-person-list
  *ngIf="family.children"
  [persons]="family.children"
  [title]="'Kinder'"
  [showBadge]="true"
  (buttonPressed)="router.navigate(['person', $event._key])"
>
</heritage-person-list>
