<heritage-person-list
  *ngIf="family.parents"
  [persons]="family.parents"
  [title]="'Eltern'"
  [showListActionButton]="true"
  (onListAction)="onListAction.emit(relation.PARENT)"
  (onUserAction)="router.navigate(['person', $event._key])"
>
</heritage-person-list>
<heritage-person-list
  *ngIf="family.partners"
  [persons]="family.partners"
  [title]="'Partner'"
  [showListActionButton]="true"
  (onListAction)="onListAction.emit(relation.PARTNER)"
  (onUserAction)="router.navigate(['person', $event._key])"
>
</heritage-person-list>
<heritage-person-list
  *ngIf="family.children"
  [persons]="family.children"
  [title]="'Kinder'"
  [showListBadge]="true"
  [showListActionButton]="true"
  (onListAction)="onListAction.emit(relation.CHILD)"
  (onUserAction)="router.navigate(['person', $event._key])"
>
</heritage-person-list>
