<div class="container-fluid">
  <div class="row">
    <heritage-sidebar></heritage-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" *ngIf="key">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2" *ngIf="person">Person</h1>
        <span class="small text-muted" *ngIf="person">Zuletzt bearbeitet: {{person.lastUpdated | date: 'dd.MM.yyyy hh:mm'}} </span>
      </div>

      <div class="row" *ngIf="person">
        <div class="col-md-8 order-md-1">
          <h4 class="d-flex justify-content-between align-items-center mb-3" >
            <span class="text-muted">{{person.givenName}} {{person.surName}} <span class="small ml-2">({{person._key}})</span></span>
          </h4>
          <heritage-person-form [person]="person"></heritage-person-form>
        </div>
        <div class="col-md-4 order-md-2 mb-4" >
          <heritage-family-list [person]="person"></heritage-family-list>
        </div>
      </div>
    </main>
  </div>
</div>

